* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #DDD;
  color: #222;
}

#login-box {
  position: relative;
  margin: 5% auto;
  background-color: #FFF;
  width: 600px;
  height: 400px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.left {
  padding: 40px;
  width: 300px;
  height: 400px;
  position: absolute;
}

.right {
  padding: 40px;
  width: 300px;
  height: 400px;
  float: right;
  right: 0;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.left h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 2em;
}

.left input {
  border: none;
  border-bottom: 1px solid #AAA;
  display: block;
  margin-bottom: 20px;
  padding: 4px;
  height: 32px;
  width: 220px;
  font-weight: 400;
  color: rgba(0,0,0,0.4);
}

.sign-up-button{
  margin: 5px;
  width: 220px;
  height: 32px;
  border: none;
  border-radius: 2px;
  background-color: #16A085;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 400;
}

.sign-up-button:hover {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  transition: 0.1s ease;
}

.sign-up-button:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

input:focus {
  border-bottom: 2px solid #16A085;
  color: #16A085;
  transition: 0.2s ease;
}


.right span {
  margin-bottom: 40px;
  font-size: 2em;
  color: #FFF;
  text-align: center;
  display: block;
}

.right button{
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border-style: none;
  border-radius: 2px;
  color: #FFF;
}

.social-signin-facebook{
  background-color:#32508E;
}

.social-signin-twitter{
  background-color:#55ACEE;
}

.social-signin-google {
  background-color:#DD4B39;
}

.or {
 position: absolute;
 top: 180px;
 left: 280px;
 width: 40px;
 height: 40px;
 background-color: #DDD;
 border-radius: 50%;
 text-align: center;
 line-height: 40px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
